.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.card-list {
  width: 80vw;
  margin:10px auto;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  padding: 25px;
  border: 1px solid grey;
  background-color: cyan;
  backface-visibility: hidden;
  border-radius: 5px;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

